@model ArticlesIndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="twelve columns">
        <h2 class="categoryTitle">@Model.ListHeading</h2>

        <nav class="row">
           @if (Model.PaginateArticleListByMonth) 
           {
            <div class="prev">
                <a href="@Model.PreviousMonthUrl"><i class="icon-left-circled"></i>@Model.ReferenceDate.PreviousMonthAndYear</a>
            </div>
            <span>@Model.ReferenceDate.CurrentMonthAndYear</span>
            <div class="next">
                <a href="@Model.NextMonthUrl" class="@Model.ReferenceDate.NextMonthCssClass">@Model.ReferenceDate.NextMonthAndYear <i class="icon-right-circled"></i></a>
            </div>
           }
        </nav>
        @foreach (var article in Model.Articles) 
        { 
            @Html.Partial(Views.Shared.PartialArticleItem, article)
        }

       @if (!Model.Articles.Any())
       {
          <p>There are no articles to display.</p>
       }

        <div class="clearfix"></div>

        <hr />
    </div>
</div>
