@model ArticlesIndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content" id="listing">
    <h1 class="title">@Model.ListHeading</h1>
    <p class="series-description">@Model.SeriesDescription</p>

    <div class="series-nav">
        @if (Model.PaginateArticleListByMonth)
        {
            <div class="prev">
                <a href="@Model.PreviousMonthUrl"><img src="~/Content/Images/circled-arrow.svg" />@Model.ReferenceDate.PreviousMonthAndYear</a>
            </div>
            <div class="next">
                <a href="@Model.NextMonthUrl" class="@Model.ReferenceDate.NextMonthCssClass">@Model.ReferenceDate.NextMonthAndYear<img src="~/Content/Images/circled-arrow.svg" /></a>
            </div>
            <span>@Model.ReferenceDate.CurrentMonthAndYear</span>
        }
    </div>

    <div id="article-feed">
        @foreach (var article in Model.Articles)
        {
            @Html.Partial(Views.Shared.PartialArticleItem, article)
        }

        @if (!Model.Articles.Any())
        {
            <p>There are no articles to display.</p>
        }
    </div>
</div>
