@model ViewArticleViewModel
@{
   Layout = "~/Views/Shared/_Layout.cshtml";
   Model.PageTitle = Model.Article.Title + " - The Daily WTF";
}

<div class="content" id="article-page">

    <div class="article-container @Model.Article.Series.CssClass">

        <h2 class="title">@Model.Article.Title</h2>
        <span class="details">by <a class="author" href="/authors/@Model.Article.Author.Slug">@Model.Article.Author.Name</a>
            in <a href="/series/@Model.Article.Series.Slug" class="source">@Model.Article.Series.Title</a>
            on <span class="date">@Model.Article.DisplayDate</span>
            <a href="/admin/article/edit/@Model.Article.Id" rel="nofollow" class="hide admin-only">Edit</a>
        </span>
        <div class="banner-triangle"></div>
        <div class="author-box">
            <img src="@Model.Article.Author.ImageUrl" />
            <p class="author-name">@Model.Article.Author.Name</p>
            <p class="credentials">@Model.Article.Author.ShortDescription</p>
        </div>
        <div class="article-body">
            @Html.Raw(Model.Article.BodyAndAdHtml)
        </div>

        <div class="article-footer">
            <div class="comment-container">
                <a class="comments" href="@Model.Article.CommentsUrl">View all <span class="number-of-comments">@Model.Article.CachedCommentCount</span> comments &raquo;</a>
            </div>

            <ul class="sm-link-bar">
                <li><a href="@Model.Article.EmailUrl"><img src="~/Content/Images/email-24.png" class="email" /></a></li>
                <li><a href="@Model.Article.GooglePlusUrl"><img src="~/Content/Images/googleplus-24.png" class="googleplus" /></a></li>
                <li><a href="@Model.Article.FacebookUrl"><img src="~/Content/Images/facebook-24.png" class="facebook" /></a></li>
                <li><a href="@Model.Article.TwitterUrl"><img src="~/Content/Images/twitter-24.png" class="twitter" /></a></li>
            </ul>

            @if (Model.FeaturedComments.Comments.Any())
            {
                <hr />
                <div class="featured-comments">
                    <h3>Featured Comments</h3>
                    @Html.Partial(Views.Shared.PartialComments, Model.FeaturedComments)
                </div>
            }

            <hr />
            <div class="prev-next-nav">
                @if (Model.Article.NextArticleId != null)
                {
                    <a href="@Model.Article.NextArticleUrl" class="next-link"><span class="next-article">@Model.Article.NextArticleTitle</span> &raquo;</a>
                }
                @if (Model.Article.PreviousArticleId != null)
                {
                    <a href="@Model.Article.PreviousArticleUrl" class="prev-link">&laquo; <span class="prev-article">@Model.Article.PreviousArticleTitle</span></a>
                }
            </div>
        </div>
    </div>

</div>
