@model ViewCommentsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content" id="article-page">
    <div class="article-container @Model.Article.Series.CssClass">
        <h2 class="title">@Model.Article.Title</h2>
        <span class="details">
            <a href="@Model.Article.Url">&laquo; Return to Article</a>
            @Model.ViewCommentsHeading
        </span>
        <div class="banner-triangle"></div>

        <div class="article-body">
            @Html.Partial(Views.Shared.PartialCommentsPages, Model)
            @Html.Partial(Views.Shared.PartialComments, Model)
            @Html.Partial(Views.Shared.PartialCommentsPages, Model)

            @Html.ValidationSummary()

            <form method="post" id="comment-form" action="#comment-form" class="no-print">

                @Html.AntiForgeryToken()

                <h3>Leave a comment on &ldquo;@Model.Article.Title&rdquo;</h3>

                <input id="comment-parent" name="parent" type="hidden" value="@Model.Comment.Parent" />

                <div class="field">
                    <a id="log-in-button" href="/login" class="comment-anonymous-only">Log In</a> 
                    <p>or post as a guest</p>
                    <input id="comment-name" name="name" type="text" class="input" placeholder="Your Name" required tabindex="1" value="@Model.Comment.Name" /> or
                  
                </div>

                <div class="field">
                    <textarea id="comment-body" name="body" class="input textarea resizeable" placeholder="Your Comment" rows="8" cols="60" required tabindex="2">@Model.Comment.Body</textarea>
                </div>

                @Html.Partial(Views.Shared.PartialRecaptcha)

                <div class="medium primary btn">
                    <input class="input" type="submit" tabindex="3" value="Submit" />
                </div>

            </form>

            <p><a href="@Model.Article.Url">&laquo; Return to Article</a></p>
        </div>
    </div>
</div>
