@model ViewArticleViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.PageTitle = Model.Article.Title + " - The Daily WTF";
}

<div class="content" id="article-page">

    <div itemscope itemtype="http://schema.org/Article" class="article-container @Model.Article.Series.CssClass">

        <h2 itemprop="headline" class="title">@Model.Article.Title</h2>
        <span class="details">by <a class="author" rel="author" href="/authors/@Model.Article.Author.Slug">@Model.Article.Author.Name</a>
            in <a itemprop="articleSection" href="/series/@Model.Article.Series.Slug" class="source">@Model.Article.Series.Title</a>
            on <span itemprop="datePublished" content="@Model.Article.ISODate" class="date">@Model.Article.DisplayDate</span>
            <a href="/admin/article/edit/@Model.Article.Id" rel="nofollow" class="hide admin-only">Edit</a>
        </span>
        <div class="banner-triangle"></div>
        <div class="author-box" itemprop="author" itemscope itemtype="http://schema.org/Person">
            <img itemprop="image" src="@Model.Article.Author.ImageUrl" />
            <a itemprop="name" href="/authors/@Model.Article.Author.Slug" class="author-name">@Model.Article.Author.Name</a>
            <p itemprop="description" class="credentials">@Model.Article.Author.ShortDescription</p>
        </div>
        <div itemprop="articleBody" class="article-body">
            @Html.Raw(Model.Article.BodyAndAdHtml)
        </div>

        <div class="article-footer">
            <div class="comment-container">
                <a itemprop="discussionUrl" class="comments" href="@Model.Article.CommentsUrl">View all <span itemprop="commentCount" class="number-of-comments">@Model.Article.CachedCommentCount</span> comments &raquo;</a>
            </div>

            <!-- AddToAny BEGIN -->
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="padding:5px;">
                <a class="a2a_button_hacker_news"></a>
                <a class="a2a_button_reddit"></a>
                <a class="a2a_button_twitter"></a>
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_linkedin"></a>
                <a class="a2a_button_email"></a>
                <a class="a2a_button_myspace"></a>
                <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                <script async src="https://static.addtoany.com/menu/page.js"></script>
            </div>
            <!-- AddToAny END -->

            @if (Model.FeaturedComments.Comments.Any())
            {
                <hr />
                <div class="featured-comments">
                    <h3>Featured Comments</h3>
                    @Html.Partial(Views.Shared.PartialComments, Model.FeaturedComments)
                </div>
            }

            <hr />
            <div class="prev-next-nav">
                @if (Model.Article.NextArticleId != null)
                {
                    <a rel="next" href="@Model.Article.NextArticleUrl" class="next-link"><span class="next-article">@Model.Article.NextArticleTitle</span> &raquo;</a>
                }
                @if (Model.Article.PreviousArticleId != null)
                {
                    <a rel="prev" href="@Model.Article.PreviousArticleUrl" class="prev-link">&laquo; <span class="prev-article">@Model.Article.PreviousArticleTitle</span></a>
                }
            </div>
        </div>
    </div>

</div>
