@model HomeIndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
   .ad-info ul { list-style-type: disc; }
   .ad-info ul, .ad-info ol { padding-left: 10px; margin-left: 10px; }
</style>

@if (AdRotator.LoadException != null)
{
   <div class="message error">
      <h4>There was an error loading the Ad server:</h4>
      @if (@User != null && @User.IsAdmin) 
      {
         @AdRotator.LoadException.ToString()
      }
      else
      {
         <span>Log in to the <a href="/admin">admin site</a> in order to view the message.</span>
      }
   </div>
}

<h2>Loaded Ads</h2>
<div class="ad-info">
   @foreach (var root in Model.AllAdDimensions)
   {
      <hr />
      
      <h3>Dimensions: @root.Dimensions</h3>
      <h4>Companies</h4>
      <ul>
         @foreach (var company in root.Companies)
         {
            <li>
               <h5>@company.Name</h5>
               <ol>
                  @foreach (var ad in company.Ads)
                  {
                     <li>
                        <img src="@ad.ImageUrl" />
                     </li>
                  }
               </ol>
            </li>
         }
      </ul>
   }
</div>