@model WtfViewModelBase

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Model.PageTitle</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Css/main.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="author" content="@(Model.OpenGraph != null && !string.IsNullOrEmpty(Model.OpenGraph.AuthorName) ? Model.OpenGraph.AuthorName : "humans.txt")" />
    @if (Model.IsWrongHost)
    {
    <link rel="canonical" href="@Model.CurrentUrlWithCorrectHost"/>
    }

    <script src="/scripts/modernizr-2.6.2.min.js"></script>
    <!--[if lt IE 9]>
    <script src="/scripts/jquery-1.10.2.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="/scripts/jquery-2.0.1.min.js"></script>
    <!--<![endif]-->

    @if (Model.OpenGraph != null)
    {
    <meta property="og:title" content="@Model.OpenGraph.Title" />
	<meta property="og:type" content="@Model.OpenGraph.Type" />
    <meta property="og:url" content="@Model.OpenGraph.Url" />
    <meta property="og:image" content="@Model.OpenGraph.Image" />
    <meta property="og:description" content="@Model.OpenGraph.Description" />
    <meta property="og:site_name" content="The Daily WTF" />
        if (Model.OpenGraph.Article != null)
        {
    <meta property="article:author" content="http://@Config.Wtf.Host/authors/@Model.OpenGraph.Article.Author.Slug" />
    <meta property="article:published_time" content="@(Model.OpenGraph.Article.PublishedDate.HasValue ? Model.OpenGraph.Article.PublishedDate.Value.ToString("u") : null)" />
        }
        if (Model.OpenGraph.Author != null)
        {
    <meta property="profile:first_name" content="@Model.OpenGraph.Author.FirstName" />
    <meta property="profile:username" content="@Model.OpenGraph.Author.Slug" />
        }
    }
</head>
<body>
    <div id="wrapper">
        @Html.Partial(Views.Shared.PartialNavigationMenu, Model.NavigationMenu)

        <div class="content-container">
            @if (Model.ShowLeaderboardAd)
            {
                @Html.Partial(Views.Shared.PartialLeaderboardAd, Model.GetNextAd(Dimensions.Leaderboard))
            }

            @if (Model.SuccessMessage != null)
            {
                <div class="message success">
                    @Model.SuccessMessage
                </div>
            }

            @if (Model.ErrorMessage != null)
            {
                <div class="message error">
                    @Model.ErrorMessage
                </div>
            }

            @RenderBody()
        </div>

        <div class="content-container" id="footer">
            <div class="content">
                <div class="link-bar">
                    <a href="/contact">Contact</a>
                    <a href="/info/privacy">Privacy Policy</a>
                    <a href="http://syndication.thedailywtf.com/TheDailyWtf" rel="alternative" type="application/rss+xml">RSS</a>
                </div>
                <hr />

                <p class="copyright">@Model.Copyright - v@(Model.Version)</p>
                <p class="hosting">Monitored by <a href="https://www.panopta.com/">Panopta</a>
                    &bull; Deployed with <a href="https://inedo.com/landing/buildmaster">BuildMaster</a></p>

                <script src="/scripts/prism.js"></script>
                <script src="/scripts/custom.js"></script>

                <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9122028-1"></script>
                <script>
                    window.dataLayer = window.dataLayer || [];
                    function gtag(){dataLayer.push(arguments);}
                    gtag('js', new Date());

                    gtag('config', 'UA-9122028-1');
                </script>
            </div>
        </div>
    </div>
</body>
</html>
