@model ArticleItemViewModel

<div class="articleListItem">
    <div class="row">
        @if (Model.DisplayAuthorLink)
        { 
            <div class="two columns">
                <div class="author">by <a href="/authors/@Model.Article.Author.Slug">@Model.Article.Author.Name</a></div>
                <div class="date">
                    <span class="date">@Model.Article.PublishedDate.Value.ToString("dd")</span>
                    <span class="month">@Model.Article.PublishedDate.Value.ToString("MMM")</span>
                    <span class="year">@Model.Article.PublishedDate.Value.Year</span>
                </div>
            </div>
        }
        <article class="@(Model.DisplayAuthorLink ? "ten" : "twelve") columns articleContainer @Model.Article.Series.CssClass">
            <header>
                <h4>@Model.Article.Title</h4>
                <h5>by @Model.Article.Author.Name in @Model.Article.Series.Title</h5>
            </header>
            <div class="container">
                <p>@Model.Article.Summary</p>
            </div>
            <div class="clearfix"></div>
            <footer>
                <div class="container">
                    <i class="icon-comment"></i><span class="comments"><a href="@Model.Article.DiscourseThreadUrl"></a><span class="fakeLink">@Model.Article.CommentCount Comments</span></span> - Last Comment @@ @Model.Article.LastCommentDateDescription
                    <div class="social">
                        <div class="socialButtons">

                            <a class="social-icon facebook" href="@Model.Article.FacebookUrl">&nbsp;</a>
                            <a class="social-icon twitter" href="@Model.Article.TwitterUrl">&nbsp;</a>
                            <a class="social-icon email" href="@Model.Article.EmailUrl">&nbsp;</a>
                            <a class="social-icon google-plus" href="@Model.Article.GooglePlusUrl">&nbsp;</a>

                        </div>
                    </div>
                </div>
            </footer>
            <a href="/articles/@(Model.Article.Slug)" class="readMore"></a>
        </article>
    </div>
</div>
