@model TheDailyWtf.ViewModels.NavigationMenuViewModel

<div id="navigation" class="content-container">
    <div class="content">
        <div class="logo">
            <a href="/">
                <img src="~/Content/Images/wtf-logo.png" alt="" />
            </a>
        </div>

        <ul id="navigation-items">
            <li class="featured">
                <a href="/series/feature-articles">Feature Articles</a>
                <ul class="dropdown">
                    <li class="navigation-heading">Most Recent Articles</li>
                    @foreach (var article in Model.RecentFeaturedArticles)
                    {
                    <li class="dropdown-item"><a href="/articles/@article.Slug">@article.Title</a></li>
                    }
                </ul>
            </li>
            <li class="code">
                <a href="/series/code-sod">CodeSOD</a>
                <ul class="dropdown">
                    <li class="navigation-heading">Most Recent Articles</li>
                    @foreach (var article in Model.RecentCodeSodArticles)
                    {
                    <li class="dropdown-item"><a href="/articles/@article.Slug">@article.Title</a></li>
                    }
                </ul>
            </li>
            <li class="errord">
                <a href="/series/errord">Error'd</a>
                <ul class="dropdown">
                    <li class="navigation-heading">Most Recent Articles</li>
                    @foreach (var article in Model.RecentErrordArticles)
                    {
                    <li class="dropdown-item"><a href="/articles/@article.Slug">@article.Title</a></li>
                    }
                </ul>
            </li>
            <li class="forum">
                <a href="@Model.ForumsAddress">
                    <img class="hover-icon" src="~/Content/Images/forums-icon-white.svg" />
                    <img class="standard-icon" src="~/Content/Images/forums-icon-black.svg" />
                    Forums
                </a>
            </li>
            <li class="soapbox">
                <a>Other Articles</a>
                <ul class="dropdown">
                    <li class="dropdown-item"><a href="/articles/random">Random Article</a></li>
                    <li class="navigation-heading">Other Series</li>
                    @foreach (var series in Model.OtherSeries)
                    {
                    <li class="dropdown-item"><a href="/series/@series.Slug">@series.Title</a></li>
                    }
                </ul>
            </li>
        </ul>
        <div id="mini-navigation">
            <input id="1" name="accordian" type="checkbox" />
            <label for="1">
                <img src="~/Content/Images/mobile-menu.svg" />
            </label>
            <article>
                <ul>
                    <li class="featured">
                        <a href="/series/feature-articles">feature articles</a>
                    </li>
                    <li class="code">
                        <a href="/series/code-sod">codesod</a>
                    </li>
                    <li class="errord">
                        <a href="/series/errord">error'd</a>
                    </li>
                    <li class="forum">
                        <a href="@Model.ForumsAddress">forums</a>
                    </li>
                    <li class="soapbox">
                        <a href="/articles">other articles</a>
                    </li>
                    <li class="random">
                        <a href="/articles/random">random article</a>
                    </li>

                </ul>
            </article>
        </div>
    </div>
</div>
<div id="navigation-bumper" class="content-container">
</div>
