@model ArticleItemViewModel


<div class="article @Model.Article.Series.CssClass">
    <a href="@Model.Article.Url" class="link-overlay"></a>
    <div class="article-content">
        <h2 class="title">@Model.Article.Title</h2>
        <span class="details">by <span class="author">@Model.Article.Author.Name</span>
            in <span class="source">@Model.Article.Series.Title</span>
            on <span class="date">@Model.Article.DisplayDate</span></span>

        @Html.Raw(Model.Article.SummaryHtml)
    </div>
    <hr />

    <div class="article-footer">
        <div class="comment-container">
            <span class="comments"><b><span class="number-of-comments">@Model.Article.CachedCommentCount</span> comments</b> - Last comment @@ <span class="last-comment-time">@Model.Article.LastCommentDateDescription</span></span>
        </div>

        <ul class="sm-link-bar">
            <li><a href="@Model.Article.EmailUrl"><img src="~/Content/Images/email-24.png" class="email" /></a></li>
            <li><a href="@Model.Article.GooglePlusUrl"><img src="~/Content/Images/googleplus-24.png" class="googleplus" /></a></li>
            <li><a href="@Model.Article.FacebookUrl"><img src="~/Content/Images/facebook-24.png" class="facebook" /></a></li>
            <li><a href="@Model.Article.TwitterUrl"><img src="~/Content/Images/twitter-24.png" class="twitter" /></a></li>
        </ul>

    </div>
</div>
