@model ContactFormViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Contact</h2>

    <div>
       Use this form if you'd like to send a personal note to a WTF staffer. For article and story submissions, 
       please use the <a href="/submit-wtf">submission form</a>.
    </div>
    <hr />

    @Html.ValidationSummary()

    <form method="post" action="/contact" enctype="multipart/form-data">

         @Html.AntiForgeryToken()

        <div class="field">
            <div>Send To:</div>
            <div class="picker">
                <select name="contactform.to">
                  <option value=""></option>
                   <optgroup label="Editors">
                      <option value="Mark Bowytz">Mark Bowytz (Lead Editor)</option>
                      <option value="Remy Porter">Remy Porter (Editor)</option>
                   </optgroup>
                   <optgroup label="Writers">
                      <option value="snoofle">snoofle (Writer)</option>
                      <option value="Charles Robinson">Charles Robinson (Writer)</option>
                      <option value="Erik Gern">Erik Gern (Writer)</option>
                      <option value="Bruce Johnson">Bruce Johnson (Writer)</option>
                      <option value="Lorne Kates">Lorne Kates (Writer)</option>
                   </optgroup>
                   <optgroup label="Admin">
                      <option value="Alex Papadimoulis">Alex Papadimoulis (Founder)</option>
                      <option value="Tim Silvia">Tim Silvia (Sponsorship)</option>
                   </optgroup>
               </select>
            </div>
        </div>
        <div class="field">
            <div>Your Name:</div>
           <input name="contactform.name" class="input" type="text" maxlength="50" value="@Model.ContactForm.Name" />
        </div>
        <div class="field">
            <div>Your Email:</div>
           <input name="contactform.email" class="input" type="text" maxlength="250" value="@Model.ContactForm.Email" />
        </div>
       <div class="field">
          <div>Subject:</div>
          <input name="contactform.subject" class="input" type="text" maxlength="250" value="@Model.ContactForm.Subject" />
       </div>
        <div class="field">
            <div>Attachment (optional):</div>
           <input name="contactform.file" class="input" type="file" />
        </div>
        <div class="field">
            <div>Message:</div>
           <textarea name="contactform.message" class="input textarea" rows="8" cols="60">@Model.ContactForm.Message</textarea>
        </div>
       <div class="field">
          @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Clean)
       </div>

        <div class="medium primary btn">
            <input class="input" type="submit" value="Send Message" />
        </div>
    </form>
</div>
