@model HomeIndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content" id="home-page">
    <div id="sidebar">
        <div class="sidebar-content">

            <div class="sidebar-section" id="about-container">
                <input id="about" name="accordian" type="checkbox" />
                <label for="about"><img src="~/Content/Images/about-icon.svg" /><span>WTF is the Daily WTF</span></label>
                <article>
                    <p>
                        Founded in 2004 by <a href="/authors/alex-papadimoulis">Alex Papadimoulis</a>, The Daily WTF is your how-not-to guide for developing
                        software. We recount tales of disastrous development, from project management gone spectacularly bad to inexplicable coding choices.
                    </p>
                    <p>
                        <a href="/authors/remy-porter">Remy Porter</a> is the editor-in-chief and needs to read your story or see your bad code.
                    </p>
                    <p id="submit-link">
                        <a href="/submit-wtf">Submit Your WTF</a>
                    </p>
                </article>
            </div>

            <div class="sidebar-section" id="contents-container">
                <input id="contents" name="accordian" type="checkbox" />
                <label for="contents"><img src="~/Content/Images/contents-icon.svg" /><span>Contents</span></label>
                <article>
                    <p><a href="/articles/random">Random Article</a></p>
                    <hr />
                    <p><b>Classic Articles</b></p>
                    <ul>
                        <li><a href="/articles/The_Brillant_Paula_Bean">The Brillant Paula Bean</a></li>
                        <li><a href="/articles/What_Is_Truth_0x3f_">What Is Truth?</a></li>
                        <li><a href="/articles/Web_0_0x2e_1">Web 0.1</a></li>
                        <li><a href="/articles/get_words_from_a_number_which_is_passed_as_a_perimeter_into_this_function">get_words_from_a_number_which_is_passed_as_a_perimeter_into_this_function</a></li>
                        <li><a href="/articles/Special-Delivery">Special Delivery</a></li>
                        <li><a href="/articles/Make-It-Work">Radio WTF: Make It Work</a></li>
                        <li><a href="/articles/ITAPPMONROBOT">ITAPPMONROBOT</a></li>
                        <li><a href="/articles/The_Call_of_Codethulhu">The Call of Codethulhu</a></li>
                        <li><a href="/articles/The_Big_Red_Button">The Big Red Button</a></li>
                        <li><a href="/articles/Happy_Merge_Day!">Happy Merge Day!</a></li>
                        <li><a href="/articles/Classic-WTF-The-Indexer">The Indexer</a></li>
                        <li><a href="https://thedailywtf.com/articles/The-Speedup-Loop">The Speed-up Loop</a></li>
                        <li><a href="/articles/No,_We_Need_a_Neural_Network">No, We Need a Neural Network</a></li>
                        <li><a href="/articles/Poke-a-Dot">Poke a Dot</a></li>
                        <li><a href="/articles/We-Use-BobX">We Use BobX</a></li>
                        <li><a href="/articles/count-on-me">COUNT ON ME</a></li>
                        <li><a target="_blank" href="https://github.com/tdwtf/WtfWebApp/blob/master/TheDailyWtf/Views/Home/Index.cshtml#L31">Add your favorite...</a></li>
                    </ul>
                    <hr />
                    <p><a href="/articles">Article Archives</a></p>
                </article>
            </div>
            @Html.Partial(Views.Shared.PartialSidebarAd, Model.GetNextAd(Dimensions.SideBar))
            <div class="sidebar-section" id="wtf-sidebar-container">
                <input id="wtf-sidebar" name="accordian" type="checkbox" />
                <label for="wtf-sidebar"><img src="~/Content/Images/wtf-sidebar-icon.svg" /><span>Sidebar WTF</span></label>
                <article>

                    @{
                        var wtfs = ForumHelper.SideBarWtfs;
                        <ul>
                            @if (ForumHelper.IsWorking)
                            {
                                foreach (var sidebar in wtfs)
                                {
                                    <li><a href="@sidebar.Url">@sidebar.Title</a></li>
                                }
                            }
                            else
                            {
                                <li><a href="@ForumHelper.SideBarUrl">FILE_NOT_FOUND</a></li>
                            }
                        </ul>
                    }

                </article>
            </div>
            <div class="sidebar-section" id="sponsor-sidebar-container">
                <input id="sponsors" name="accordian" type="checkbox" />
                <label for="sponsors"><img src="~/Content/Images/sponsors-icon.svg" /><span>Sponsors</span></label>
                <article>

                    <p>These <a href="/sponsors">fine folks</a> make it possible to run The Daily WTF.</p>


                    <p class="sponsor">
                        <a href="https://inedo.com/?utm_source=TheDailyWTF&utm_medium=link&utm_campaign=TDWTF15&utm_content=sponsor-side">
                            <img src="~/Content/Images/Sponsors/inedo.png" />
                        </a>
                    </p>
                </article>
            </div>
        </div>
    </div>

    <div id="article-feed">
        @foreach (var article in Model.Articles)
        {
            @Html.Partial(Views.Shared.PartialArticleItem, article)
        }

        <p><a href="@Model.ArchivesUrl" class="archives-link">Archives</a></p>
    </div>
</div>
